<% user = post.user %>
<% postable = post.postable %>
<% show_replies = local_assigns.fetch(:show_replies, false) %>
<%= render 'layouts/inside_modal', title: 'Send a reply',modal_class: "comment_modal_#{post.id}" do %>
  <%= render 'posts/form', thread: post %>
<% end %>
<div id='<%= "post_#{post.id}" %>' class="p-3 bg-dark-700 flex line" data-post-path="<%= post_path(post) %>">
  <div class="w-14">
    <%= image_tag user.profile_picture_url,
                  class: 'float-right rounded-full',
                  style: 'height: 44px; width; 44px;' %>
  </div>
  <div class="w-full pr-3 pl-3">
    <div class="flex items-center w-full">
      <%= link_to timeline_path(user), class: 'text-gray-100 identifier' do %>
        <span class="hover:underline font-bold text-sm"><%= user.name %></span>
        <span class="text-xs ml-2 text-gray-500 no-underline">@<%= user.username %></span>
      <% end %>
    </div>
    <% if postable.is_a?(Status) %>
      <%= simple_format post.postable.text %>
    <% elsif postable.is_a?(Sight) %>
      <div class="flex items-center">
        <%= evil_icon 'ei-location' %>
        <p>
          <%= postable.humanized_activity_type %>
          <%= postable.place.name %>
        </p>
      </div>
    <% end %>
    <div class="mt-2 flex items-center justify-between flex-wrap">
      <%= link_to '#', class: 'hover:text-blue-200' do %>
        <div style="color: #a0a3c0" class="flex items-center flex-shrink-0 js-modal-open" data-modal-class="comment_modal_<%= post.id %>">
          <%= evil_icon 'ei-comment', class: 'rounded-full hover:bg-blue-300 hover:text-dark-800 ei-comment-icon focus-within:bg-blue-300 focus-within:text-dark-800' %>
          <% if post.replies.any? %>
            <span>&nbsp; <%= post.replies.count %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if post.replies.any? %>
  <div class="replies ml-4 pt-2">
    <% post.replies.each do |reply| %>
      <%= render 'timelines/line', post: reply %>
    <% end %>
  </div>
<% end %>
